.header h1 {
	color: mediumaquamarine;
}

.header {
	display: flex;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.nav a{
	display: inline-block;
	color: black;
	padding: 20px 10px;
}

.nav,
.header h1 {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
}

.col-large {
	display: flex;
	flex-direction: column;
	width: 630px;
}

.sub-large {
	display: flex;
	justify-content: space-between;
	width: 630px;
}

.col-medium {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.content {
	display: flex;
	justify-content: space-between;
}

.col-small {
	display: flex;
	flex-direction: column;
	width: 240px;
}

.img {
	display: flex;
	height: 300px;
	font-family: georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
	text-align: center;
	align-items: center;
}

.head-story .img {
	background-image: url("./images/main.png")
}

.ocat .img {
	background-image: url("./images/fall-season.png");
}

.bcam .img {
	background-image: url("./images/hipster.png");
}

.col-medium .img {
	background-image: url("./images/cat-ceo.png");
}

.narr {
	font-family: georgia;
	font-size: 17px;
	color: black;
}

.pictext {
	font-size: 40px;
	text-align: left;
}

.ocat,
.bcam {
	width: 300px;
}