/*header*/
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 3px;
	border-bottom: 1px solid black;
	position: fixed;
	z-index: 2;
	background-color: white;
	width: 100%;
}

.logo {
	display: flex;
	align-items: center;
}

.nav span a {
	margin: 10px;
	color: black;
}

.logo span {
	color:mediumaquamarine;
}

.nav,
.logo {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
}

/*entire page*/

.page {
	display: flex;
	position: relative;
	top: 60px;
}

.img {
	height: 300px;
}

.img span {
	font-family: georgia;
	font-weight: bold;
	font-size: 30px;
	color: white;
}

/*first column*/
.lgcol {
	display: flex;
	flex-direction: column;
	width: 630px;
	margin: 10px;
}

.bottom {
	display: flex;
}

.orca,
.burger {
	margin: 15px;
}

.phish .img {
	background-image: url("./images/main.png")
}

.phish .img span {
	font-size: 40px;
}

.orca .img {
	background-image: url("./images/fall-season.png")
}

.burgers .img {
	background-image: url("./images/hipster.png")
}

/*second column*/
.medcol {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 10px;
}

.cat .img {
	background-image: url("./images/cat-ceo.png")
}

/*third column*/
.smlcol {
	display: flex;
	flex-direction: column;
	width: 240px;
	margin: 10px;
}